.mainnav {
	text-align: center;

	div {
		
		border: 2px solid #000;

		@include breakpoint($medium){
			display: none;
		}
		a {
			text-decoration: none;
			color: #000;
			background-color: #b0b2b4;
			display: block;
			padding: 4px;
			margin-bottom: 0;

		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: none;

		@include breakpoint($medium){
			display: inline-block !important;
			background-color: #b0b2b4;
			width: 100%;
		}

		li{

			@include breakpoint($medium){
				display: inline-block;
			}

			

			a {
				text-decoration: none;
				color: #000;
				background-color: #b0b2b4;
				display: block;
				padding: 4px;

				@include breakpoint($medium){
				padding-left: 24px;
				padding-right: 24px;
			}



				&:hover {
					background-color: #636267;
				}
			}
		}
	}
}